In [2]:
import numpy as np 
import pandas as pd 
#from sklearn.neural_network import MLPClassifier
#from sklearn import svm
#from sklearn.preprocessing import LabelEncoder
#from sklearn.preprocessing import Imputer
#from sklearn import preprocessing
#from sklearn.model_selection import train_test_split
#from sklearn.preprocessing import MinMaxScaler
#from sklearn.preprocessing import LabelBinarizer
#from sklearn.metrics import confusion_matrix
#from sklearn.metrics import classification_report
#from datetime import datetime
import matplotlib.pyplot as plt
%matplotlib inline

In [18]:
train_data = pd.read_csv("train.csv")
print("Train data shape = " + str(train_data.shape))
train_data.head(n=5)

Train data shape = (891, 12)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [17]:
test_data = pd.read_csv("test.csv")
print("Test data shape = " + str(test_data.shape))
test_data.head(n=5)

Test data shape = (418, 11)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [124]:
# Look for Nan's
train_data_array = train_data.values

passengerid = train_data_array[:,0]
passengerid_list = map(str, passengerid)
passengerid_list = np.array(list(passengerid_list))
print("There are " + str(np.sum((passengerid_list == 'nan'))) + " Nan's among the " + str(len(passengerid_list)) + " elements of the column PassengerId in the train dataset")

pclass = train_data_array[:,2]
pclass_list = map(str, pclass)
pclass_list = np.array(list(pclass_list))
print("There are " + str(np.sum((pclass_list == 'nan'))) + " Nan's among the " + str(len(pclass_list)) + " elements of the column Pclass in the train dataset")

name = train_data_array[:,3]
name_list = map(str, name)
name_list = np.array(list(name_list))
print("There are " + str(np.sum((name_list == 'nan'))) + " Nan's among the " + str(len(name_list)) + " elements of the column Name in the train dataset")

sex = train_data_array[:,4]
sex_list = map(str, sex)
sex_list = np.array(list(sex_list))
print("There are " + str(np.sum((sex_list == 'nan'))) + " Nan's among the " + str(len(sex_list)) + " elements of the column Sex in the train dataset")

age = train_data_array[:,5]
age_list = map(str, age)
age_list = np.array(list(age_list))
print("There are " + str(np.sum((age_list == 'nan'))) + " Nan's among the " + str(len(age_list)) + " elements of the column Age in the train dataset")

sibsp = train_data_array[:,6]
sibsp_list = map(str, sibsp)
sibsp_list = np.array(list(sibsp_list))
print("There are " + str(np.sum((sibsp_list == 'nan'))) + " Nan's among the " + str(len(sibsp_list)) + " elements of the column SibSp in the train dataset")

parch = train_data_array[:,7]
parch_list = map(str, parch)
parch_list = np.array(list(parch_list))
print("There are " + str(np.sum((parch_list == 'nan'))) + " Nan's among the " + str(len(parch_list)) + " elements of the column Parch in the train dataset")

ticket = train_data_array[:,8]
ticket_list = map(str, ticket)
ticket_list = np.array(list(ticket_list))
print("There are " + str(np.sum((ticket_list == 'nan'))) + " Nan's among the " + str(len(ticket_list)) + " elements of the column Ticket in the train dataset")

fare = train_data_array[:,9]
fare_list = map(str, fare)
fare_list = np.array(list(fare_list))
print("There are " + str(np.sum((fare_list == 'nan'))) + " Nan's among the " + str(len(fare_list)) + " elements of the column Fare in the train dataset")

cabin = train_data_array[:,10]
cabin_list = map(str, cabin)
cabin_list = np.array(list(cabin_list))
print("There are " + str(np.sum((cabin_list == 'nan'))) + " Nan's among the " + str(len(cabin_list)) + " elements of the column Cabin in the train dataset")

There are 0 Nan's among the 891 elements of the column PassengerId in the train dataset
There are 0 Nan's among the 891 elements of the column Pclass in the train dataset
There are 0 Nan's among the 891 elements of the column Name in the train dataset
There are 0 Nan's among the 891 elements of the column Sex in the train dataset
There are 177 Nan's among the 891 elements of the column Age in the train dataset
There are 0 Nan's among the 891 elements of the column SibSp in the train dataset
There are 0 Nan's among the 891 elements of the column Parch in the train dataset
There are 0 Nan's among the 891 elements of the column Ticket in the train dataset
There are 0 Nan's among the 891 elements of the column Fare in the train dataset
There are 687 Nan's among the 891 elements of the column Cabin in the train dataset

In [60]:
# Analysis and preparation of column "Pclass":

train_data_array = train_data.values
pclass = train_data_array[:,2]
pclass = pclass.reshape((pclass.shape[0], 1))

pclass_onehot = pd.get_dummies(pclass)
#print(pclass)

Exception: Data must be 1-dimensional

In [58]:
# Analysis and preparation of column "Name":

train_data_array = train_data.values
name = train_data_array[:,3]

#complete later

In [57]:
# Analysis and preparation of column "Sex":

train_data_array = train_data.values
sex = train_data_array[:,4]

In [4]:
data_y = pd.DataFrame(data["Species"])
data_X = data.drop('Species', axis = 1)

X_train, X_test, y_train, y_test = train_test_split(data_X, data_y, test_size=0.2)

Scale the X data

In [5]:
sc = MinMaxScaler().fit(X_train)

X_train_scaled = pd.DataFrame(sc.transform(X_train))
X_test_scaled = pd.DataFrame(sc.transform(X_test))

Convert the y data into one hot

In [6]:
y_train_onehot = pd.get_dummies(y_train)
y_test_onehot = pd.get_dummies(y_test)

y_train_onehot.head(n=5)

     Species_Iris-setosa  Species_Iris-versicolor  Species_Iris-virginica
16                     1                        0                       0
119                    0                        0                       1
58                     0                        1                       0
93                     0                        1                       0
120                    0                        0                       1

In [7]:
# transform y_train_onehot to multiclass labels, to use with the svm classificator
y_train_onehot_svm = y_train_onehot
y_train_onehot_svm.columns = ['1', '2', '3']
y_train_onehot_svm = y_train_onehot_svm.idxmax(axis=1)
y_train_onehot_svm = pd.DataFrame(y_train_onehot_svm)

y_test_onehot_svm = y_test_onehot
y_test_onehot_svm.columns = ['1', '2', '3']
y_test_onehot_svm = y_test_onehot_svm.idxmax(axis=1)
y_test_onehot_svm = pd.DataFrame(y_test_onehot_svm)

In [8]:
clf_svm = svm.SVC(gamma=0.001, C=100.)
clf_svm.fit(X_train_scaled, y_train_onehot_svm)

y_predict_svm = clf_svm.predict(X_test_scaled)

target_names = y_test_onehot.columns
print(classification_report(y_test_onehot_svm, y_predict_svm, target_names=target_names))

             precision    recall  f1-score   support

          1       1.00      1.00      1.00         9
          2       1.00      1.00      1.00         8
          3       1.00      1.00      1.00        13

avg / total       1.00      1.00      1.00        30

/home/joao/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:547: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [9]:
clf_mlp = MLPClassifier(solver='lbfgs', alpha=1e-5,hidden_layer_sizes=(5, 3), random_state=1)
clf_mlp.fit(X_train_scaled, y_train_onehot)

y_predict_mlp = clf_mlp.predict(X_test_scaled)

target_names = y_test_onehot.columns
print(classification_report(y_test_onehot, y_predict_mlp, target_names=target_names))

             precision    recall  f1-score   support

          1       1.00      1.00      1.00         9
          2       1.00      1.00      1.00         8
          3       1.00      1.00      1.00        13

avg / total       1.00      1.00      1.00        30